// --- fonts ---
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

@font-face {
	font-family: 'webfont';
	src: url('../assets/fonts/webfont/webfont.eot');
	src: url('../assets/fonts/webfont/webfont.eot#iefix') format('embedded-opentype'),
		url('../assets/fonts/webfont/webfont.ttf') format('truetype'),
		url('../assets/fonts/webfont/webfont.woff') format('woff'),
		url('../assets/fonts/webfont/webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@import '_imports.scss';

// --- main styles ---
body {
	font-family: $font-family-default, sans-serif;
	color: $font-color-dafault;
	background-color: $body-bg-color-default;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: $container-max-width;
	padding: 0 $container-padding;
	margin: 0 auto;
	box-sizing: border-box;
	
	@include breakpoint($breakpoint-sm) {
		padding: 0 $container-padding--mobile;
	}
}

