@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import '_imports.scss';

body {
	font-family: $font-family-dafault, sans-serif;
	color: $font-color-dafault;
	background-color: $body-bg-color-default;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: $container-max-width;
	padding: 0 $container-padding;
	margin: 0 auto;
	box-sizing: border-box;
}

