$color-red: red;
$color-white: #fff;
$color-grey-air: #EEEEEE;
$color-grey-light: #E2E3E5;
$color-grey-shadow: #E5E5E5;
$color-black-light: #0E0E0F;
$color-black-brown: #3F3F3F;
$color-green: #00A76B;
$color-green-lighter: #00BB78;
$color-green-shadow: #009B63;

// цвета проекта
$color-black: #3F3F3F;
$color-black-light: #49485E;
$color-grey-light: #EEEEEE;
$color-grey: #B4B4B4;
$color-white: #FFFEFB;
$color-red: #FF8484;
$color-green: #7BAE73;
