@import 'colors.scss';

// брейкпоинты для медиазапросов
$breakpoint-xs: 550px;
$breakpoint-sm: 798px;
$breakpoint-md: 1054px;
$breakpoint-lg: 1270px;

// основной контейнер
$container-padding: 2rem;
$container-padding--mobile: 1rem;
$container-max-width: 1440px;

// фолтные значения глобальных переменных
$font-color-dafault: #000 !default;
$body-bg-color-default: #fff !default;

// глоальные стили для body
$font-family-default: Source Sans Pro;
$font-color-dafault: $color-black-brown;
$body-bg-color-default: rgba(255, 254, 251, 0.8);
