@import 'colors.scss';

$breakpoint-xs: 510px;
$breakpoint-sm: 798px;
$breakpoint-md: 1054px;
$breakpoint-lg: 1270px;

$container-padding: 1rem;
$container-max-width: 1200px;


$body-color: $color-light-black;


